* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #1e1e2f;
  padding: 20px;
  border-radius: 18px;
  width: 340px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 55px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: right;
  background: #111827;
  color: #00ffcc;
  margin-bottom: 15px;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.trig {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}
button {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #2d2d44;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3f3f5e;
}

button.equal {
  background: #00b894;
}

button.equal:hover {
  background: #00d1a0;
}

button.special {
  background: #6c5ce7;
}

button.special:hover {
  background: #857df1;
}